.chatlist-item {
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.chatlist-item:hover {
    background-color: #F5F5F5;
}

.chatlist-item.active {
    background-color: #EBEBEB;
}

.chatlist-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.chatlist-lines {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #EEE;
    padding-right: 15px;
    margin-left: 15px;

    /*estilizando o container da mensagem*/
    flex-wrap: wrap;
    min-width: 0;
}

.chatlist-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chatlist-nome {
    font-size: 16px;
    color: black;
}

.chatlist-date {
    font-size: 13px;
    color: #999;
}

.chatlist-lastmsg {
    font-size: 14px;
    color: #999;
    display: flex;
    width: 100%;
}

.chatlist-lastmsg {
    overflow: hidden;
    white-space: nowrap;
    /*uma linha */
    text-overflow: ellipsis;
    margin: 0;
}